[2018-02-09 14:03] kajiglet opened #3 "Travis CI"
Switch automated build/testing to Travis CI.

[2018-02-09 14:05] kajiglet opened #4 "ReadTheDocs"
Publish documentation via ReadTheDocs.

[2018-02-09 14:06] kajiglet opened #5 "Conda Packages"
Create and upload conda packages.

[2018-02-09 14:11] kajiglet opened #6 "Contributing doc"
Create a CONTRIBUTING document to communicate how best to collaborate on this project.

[2018-02-09 15:46] dharhas commented on #3
working on this in PR #7

[2018-02-09 15:48] dharhas opened #8 "Cleanup Readme"
Readme should have short project description as well as links to github repo, docs & contributing docs. Also maybe change format from .rst to .md to be more standardized.

[2018-02-09 15:50] dharhas commented on #5
if we add the conda recipe to this repo we can auto build dev conda packages and upload to erdc dev channel on anaconda.org automatically through the CI. Release packages should go through conda-forge.

[2018-02-09 15:52] dharhas opened #9 "Test Failures for VITD"
File "/home/travis/build/erdc/quest/quest/filters/vitd.py", line 14, in <module>
    class Basic(base.DataFilterBase):
AttributeError: module 'quest.filters.base' has no attribute 'DataFilterBase'

[2018-02-09 15:52] dharhas commented on #9
File "/home/travis/build/erdc/quest/quest/filters/vitd.py", line 14, in <module>
    class Basic(base.DataFilterBase):
AttributeError: module 'quest.filters.base' has no attribute 'DataFilterBase'

[2018-02-09 16:27] dharhas commented on #9
fixed in da91c58

[2018-02-09 16:27] #9 closed

[2018-02-09 19:40] dharhas opened #14 "Tests are broken."
We probably need to run tests locally and then push fixes. I'm going to merge pr #7 so we have testing enabled.

Error On Win:
[code]

Error On Linux & OSX:
[code]

[2018-02-09 19:45] dharhas opened #15 "Should we use a python linter? Should we enable autofix?"
See pr #13 for an example of how it works.

* It only lints lines of code that have been changed in the PR not the entire codebase... This confused me for a while.
* We need to list the lint errors we don't want to check for (i.e. max-line-length=80 is something I don't typically follow)
* It can also autofix lint errors. Do we want to do that?

If we start doing this we should probably also run t

[2018-02-12 22:17] sdc50 commented on #15
I think using some kind of a style checker would be great. It looks like `stickler-ci` and `hound` are both doing something related to that, right? Are these just enforcing the PEP8 standards, or can you specify other style rules as well?

I'm skeptical of autofix. For the simple examples in PR #13 I think autofix would be great, but there are other cases that I wouldn't trust autofix. I'd like to

[2018-02-21 17:09] AaronV77 opened #18 "Data Depot Publishing Plugin"
Support all resource types. More information to come.

[2018-02-21 17:11] AaronV77 opened #19 "Data Depot Service Plugin"
Support all resource types, more information to come.

[2018-02-21 17:15] AaronV77 opened #20 "Dataset default display naming convention."
Coming up with a better naming convention for datasets in Quest.

[2018-02-21 17:17] AaronV77 opened #21 "HydroShare and DataDepot service and publishing plugins."
Creating a service and publishing plugin in for Hydroshare.org and our Data Depot.

[2018-02-21 17:18] AaronV77 opened #22 "CUAHSI uri change."
Changing the naming of the cuahsi uri, due to not being descriptive enough for users.

[2018-02-27 15:56] AaronV77 commented on #22
This was a simple name change in the setup.cfg. This issue will be closed when the next pr is merged.

[2018-02-27 19:08] AaronV77 commented on #21
I created two separate service plugins for both the main HydroShare and our Data Depot sites. This issue will be closed when the next pr is merged.

[2018-02-27 19:36] AaronV77 commented on #21
Instead of creating more issues, there was three bugs within the HydroShare/Data Depot service and publishing plugin.  They are as follows:
- There was no sub service base for both HydroShare/Data Depot for all other types of resources that are being held in the repository.
- There were no checks to make sure that you were connected into HydroShare/Data Depot.
- There were no checks to see if ther

[2018-02-27 19:37] AaronV77 commented on #19
This is completed and this issue will be closed when the next pr is merged.

[2018-02-27 20:18] AaronV77 commented on #8
I cleaned up the README and converted the file to the markdown equivalent. Go ahead and make corrections if you see a mistake.

[2018-02-27 20:18] #8 closed

[2018-02-27 20:34] AaronV77 commented on #6
I found / tweaked a template that I found some time ago and felt that it hit all the necessary points. I need either @sdc50 or @dharhas should fill out the pull request process. Once one of them feels that the document is sufficient then please close this issue.

[2018-03-05 16:59] #22 closed

[2018-03-05 16:59] #21 closed

[2018-03-05 16:59] #19 closed

[2018-03-05 16:59] #18 closed

[2018-04-05 14:01] dharhas opened #32 "Python 2 Support?"
Are we dropping Python 2.7 support?

[2018-04-05 14:03] AaronV77 commented on #32
I mean I can build the conda stuff for 2.7 but I thought we were cutting
ties and moving on? If you don't want to I can build for 2.7 and upload to
the anaconda erdc channel.

On Thu, Apr 5, 2018 at 9:01 AM, Dharhas Pothina <notifications@github.com>
wrote:

[2018-04-05 14:06] dharhas commented on #32
I am fine dropping support for 2.7. This is just so we make sure everyone else is on board with that. Also, if we are explicitly dropping support, we should change the environment.yml and the test matrix and a few other things.

[2018-04-05 14:09] AaronV77 commented on #32
I agree and I brought up these changes to Scott the other day and he said
he just wants to keep it for now.  He is a little overwhelmed right now, so
for the sake of not making more work for ourselves I'll just do the 2.7
build for both terrapin and quest, then push it to the channel.

On Thu, Apr 5, 2018 at 9:06 AM, Dharhas Pothina <notifications@github.com>
wrote:

[2018-04-05 14:14] dharhas commented on #32
sounds good for now.

[2018-04-10 15:39] AaronV77 commented on #32
Quest support for Python 2.7 has been added to the erdc conda channel.

[2018-04-10 15:39] #32 closed

[2018-04-10 15:40] AaronV77 commented on #20
This was added a while ago, but now is not showing up in the widgets correctly. Changing this issue from enhancement to a bug.

[2018-04-10 15:42] AaronV77 commented on #5
There are conda packages for Quest, Terrapin, and ncep_client up on the erdc channel now. We have ran into an issue with the Conda-Forge stuff, and that it needs all dependencies to be conda-forge as well.

[2018-04-10 15:43] AaronV77 commented on #4
This is done and is being automated by ReadTheDocs.

[2018-04-10 15:43] #4 closed

[2018-04-10 15:45] AaronV77 opened #35 "Download Options for Datasets"
When trying to grab datasets while being on QuestWeb or working through a Jupyter Notebook, Quest is only grabbing datasets that have already been downloaded. We need Quest to be able to grab both downloaded datasets and datasets that have been ran through a transformation.

[2018-04-10 15:47] AaronV77 opened #36 "Nasa provider plugin not authenticating"
There is a problem with the nasa provider plugin and that the nasa api has been changed. They required authentication, and will be adding this ability to the plugin soon.

[2018-04-10 17:35] PeterDSteinberg opened #37 "Treat FileExistsError like OSError"
In the `examples` directory, and perhaps elsewhere, there is a need to replace the usage of:

[code]
with:

[code]

[2018-04-10 18:19] AaronV77 commented on #37
@PeterDSteinberg Thanks for the heads up, some of those notebooks are old and need to be cleaned up. Will let you know when the `examples` directory is updated.

[2018-04-12 14:11] dharhas commented on #35
This used to work. Couple of questions to make this a better bug report.

1. Does this work from regular python/ipython. i.e. is the fact that you are using questweb or jupyter notebooks relevant?

2. Do you have a small reproducible example? This will help in debugging. I'm assuming this is an issue in the quest.api.get_datasets call.

[2018-04-13 20:59] sdc50 commented on #35
@AaronV77 Is this issue referring to the publisher options and being able to filter datasets that have been either downloaded or have been generated by a filter? If that is the case then the core of the issue is needed better filtering options on the `get_datasets` method. I've got a fix for that that I can submit soon.

[2018-04-13 21:29] AaronV77 commented on #35
Yes @sdc50 and this issue was put up 3 days ago. I just never updated this issue after you told me that you found a fix.

[2018-05-07 15:53] AaronV77 opened #45 "Quest Provider Plugins"

[2018-05-07 15:56] AaronV77 opened #46 "Convert Quest filters to plugins"

[2018-05-07 15:57] AaronV77 opened #47 "Convert Quest I/O to plugins"

[2018-05-07 16:00] AaronV77 opened #48 "Change provider "base-class" variables"
Change the way that providers get a list of their services and publishers. Right now they are finding all of the subclasses of a given base class. This prevents new plugins from inheriting from existing plugins. The list of services and publishers should be explicitly defined in the Provider class.

[2018-05-07 16:01] AaronV77 opened #49 "Fully support non-geo data"
Some aspects of Quest to not fully support non-geo data. We need to look into the details and make changes to fully support geo-typical, and non-geo data.

[2018-05-07 16:02] AaronV77 opened #50 "Create "enums" for various metadata Quest-specific metadata fields"
The following metadata fields are used by Quest and need to have a defined set of accepted values (DatasetStatus is an example that has already been created):

- service_type
- geom_type
- data_type
- filter_group

[2018-05-07 16:06] AaronV77 commented on #20
So this was finished by Scott in this pull request: Updates for QuestWeb #43.

[2018-05-07 16:06] #20 closed

[2018-05-07 16:14] AaronV77 commented on #14
Test are going to be our main object for this week for Quest. Here is an outline of what we are going to try and accomplish for this week.

Outline:
    - Disable the task test ( is not working correctly )
    - Have a nightly run test for Quest that will test all the providers.
        - If test pass then we are going to update a cache of the new available services.
        - If test fail, then w

[2018-05-07 16:15] AaronV77 opened #51 "Quest API re-namings"

[2018-05-07 16:15] AaronV77 opened #52 "Clarify the use of "features" in the codebase"
Conceptually, in the code "features" can refer to "service features" and/or "collection features". This can be confusing since these two types of entities need to be handled differently. It would help make the codebase more readable if we distinguish between the two types of features throughout the code.

[2018-05-07 16:16] AaronV77 opened #53 "Enumerations and Visualizations Updates"

[2018-05-08 18:14] sdc50 opened #55 "Remove unused functions in utils"
There are several functions in the `utils` package that are not being used anywhere in the code. I think they are remnants from previous versions and need to be removed. The following functions are those that I have verified are not being used:

- jsonify
- generate_cache
- append_features
- is_service_uri
- remove_key
- stringify
- to_dataframe

[2018-05-08 18:19] sdc50 commented on #45
Convert what are currently Quest service plugins that are loaded with `stevedore` and registered in the `setup.cfg`, to be loaded in through the `quest_providers` name space (see https://packaging.python.org/guides/packaging-namespace-packages/).  This will allow plugins to be added without needed to modify the `setup.cfg` and reinstalling quest, and to install plugins as separate packages and sti

[2018-05-08 18:20] sdc50 commented on #46
Convert what are currently Quest filter plugins that are loaded with `stevedore` and registered in the `setup.cfg`, to be loaded in through the `quest_filters` namespace (see https://packaging.python.org/guides/packaging-namespace-packages/).  This will allow plugins to be added without needed to modify the `setup.cfg` and reinstalling quest, and to install plugins as separate packages and still b

[2018-05-09 14:56] dharhas opened #56 "async is a reserved keyword in Python 3.7"
While debugged the api.tasks, I hit a depreciation warning. Basically, 'async' will be a reserved word in Python 3.7 so quest will break. We are using the kwarg async=True as a flag for running tasks in the background. Maybe change the kwarg to 'delayed'. Open to suggestions.

[2018-05-15 14:42] AaronV77 commented on #55
@sdc50 can you take a look at removing the method "describe_dataset" in dataset.py as well please. Thanks

[2018-05-15 16:10] AaronV77 opened #59 "Clarify the use of "services" in the codebase"
"Services" is often used when referring to "providers". We need to make sure that the usage is consistent throughout the code.

[2018-05-15 16:12] AaronV77 opened #60 "Create Quest conda-forge package"
We need to make sure that all of the dependencies are also on conda-forge.

[2018-05-15 16:13] AaronV77 commented on #60
Dependencies that need to be moved are:
 * terrapin
 * ncep-provider

[2018-05-15 16:14] AaronV77 commented on #5
The only thing remaining for this is to package on conda-forge. This has been opened as a new issue #60.

[2018-05-15 16:14] #5 closed

[2018-05-15 16:14] dharhas commented on #60
terrapin doesn't fully work. I'm working on a replacement using whitebox_tools. If that works we should just drop terrapin.

[2018-05-15 17:56] dharhas opened #61 "Replace terrapin with whitebox_tools"
- [x] Repackage forked continuum white_box tools conda-forge package with new version based on original upstream code.
- [ ] Replace any terrapin filters in quest with whitebox equivalents
- [ ] switch out terrapin dependency for whitebox_tools

New version of whitebox_tools has a decent python interface, so I'm just planning to repackage that as a proper python package on conda-forge. API is file

[2018-05-15 18:04] AaronV77 commented on #46
This fix will be in the PR #58, the pull request is finished and awaiting approval.

[2018-05-15 18:04] #46 closed

[2018-05-15 18:08] AaronV77 opened #62 "Girder Provider"
The Girder provider never got the new query parameters in the Widgets to get datasets that had a transformation done on them. Basically just have to just copy the query parameters from the Cuahsi-HS provider and put them into the Girder provider.

[2018-05-16 21:14] #62 closed

[2018-05-17 15:15] AaronV77 opened #64 "Start using Coveralls"
With all the new enhancements and refactors in our code base, it is starting to leave holes within our test coverages. So, lets start using Coveralls to keep up with our testing coverages.

[2018-05-17 20:46] sdc50 opened #67 "Fix deprecated Pandas usage in xyHDF5 plugin"
The following warning is raised when running tests:
[code]

[2018-05-18 13:38] AaronV77 opened #68 "No Python 3.5 build on Travis"
There seems to be an issue with the Python 3.5 build being upgraded to 3.6 from one of the dependencies / packages.

[2018-05-21 20:41] AaronV77 commented on #64
This was fixed in PR #64

[2018-05-21 20:41] #64 closed

[2018-05-21 20:41] AaronV77 commented on #68
This was fixed in PR #64

[2018-05-21 20:41] #68 closed

[2018-05-21 20:42] AaronV77 commented on #14
This was fixed in PR #64

[2018-05-21 20:42] #14 closed

[2018-05-21 20:42] sdc50 opened #69 "Plugins not loading proper names"
see https://github.com/pyviz/EarthSim/issues/91

[2018-05-21 20:42] AaronV77 commented on #3
This has been done in PR #64

[2018-05-21 20:42] #3 closed

[2018-05-21 22:28] AaronV77 commented on #69
Alright so here is the problem, I never updated the file-format for raster-gdal to match the name of the actual module itself. So the file-format has the current value in it ''raster-gdal", but what you get from list_plugins is "raster_gdal". So there are two ways of fixing this, either change the name of raster_gdal.py to raster-gdal.py or change the file-format in the service of the module. Than

[2018-05-23 13:54] AaronV77 commented on #56
I know that async is short for asynchronous and it is a little bit longer but why don't we change it to the longer version? Then we can keep the same word.

[2018-05-23 14:29] dharhas commented on #56
Here is what PEP8 advised to do in these cases:

So we could use `async_` which looks weird. Maybe `async_task` . For some reason, I don't like `asynchronous` not sure why, maybe its just too annoying to spell.

[2018-05-23 14:38] AaronV77 commented on #56
Alright I can change all the async's to async_task if that is what you like. I really don't have a preference but as long as we don't hit a reserved word.

[2018-05-23 14:40] dharhas commented on #67
So pandas dataframes don't store any attached metadata when they serialize to disk. So we explicitly open the hdf5 file directly and add the quest metadata in the attributes field. This means when we read in the file to a pandas dataframe we have to also explicitly read in the metadata from the hdf5 file attributes field and assign it to the dataframe.

This part of the code is directly opening th

[2018-05-23 15:05] AaronV77 commented on #56
Okay I just made a PR for this issue and updated the async word. I did not update the docs but @sdc50  and I need to have a document day where we just do an overhaul on the docs. Thanks.

[2018-05-23 16:08] AaronV77 commented on #51
The changes have been made within QuestWeb as well now, there is an MR waiting if everything looks alright @sdc50. Thanks.

[2018-05-24 13:45] sdc50 commented on #67
It's annoying to have this warning show up when we run our tests. Maybe we should ignore this warning when our tests run.

@AaronV77 can you look into ignoring this specific warning? Look at the filtering options of the `warnings` module.

[2018-05-24 13:48] sdc50 commented on #48
@AaronV77 can you go through all of the provider plugins and change the `service_base_class` and `publisher_base_class` attributes to be `services_list` and `publishers_list` and explicitly set these to a list of services and publishers?

This will also require a minor change the the `services` and `publishers` properties on the `ProviderBase` class.

[2018-05-24 13:49] sdc50 opened #74 "Add NAIP world imagery as a new provider"
https://www.fsa.usda.gov/programs-and-services/aerial-photography/imagery-programs/naip-imagery/index

[2018-05-24 13:51] sdc50 opened #75 "Add an SPT provider pluign"
This should probably be a separate package plugin.

Docs: http://streamflow-prediction-tool.readthedocs.io/en/latest/spt_rest_api/rest_api.html

[2018-05-24 16:16] AaronV77 commented on #67
The warning has been removed and is in this PR #77. Thanks.

[2018-05-24 18:35] #67 closed

[2018-05-24 18:37] #48 closed

[2018-05-24 18:38] AaronV77 commented on #51
This is done but on hold for when we want to release a new API version.

[2018-05-24 18:38] #56 closed

[2018-05-24 18:41] #15 closed

[2018-05-24 18:46] AaronV77 commented on #74
Okay, after reading through the documentation about getting NAIP world imagery, it seems to be that you have to be a customer in order to access the images / data? Do we have an account or anything? Thanks. @sdc50

[2018-05-24 20:04] sdc50 commented on #55
fixed with PR #63.

[2018-05-24 20:04] #55 closed

[2018-05-25 14:26] sdc50 opened #78 "Remove or Enhance SMTK options"
I'm not sure there is a need to continue to support SMTK in Quest. If there is we should work toward supporting all options as SMTK. If not then we should remove the code that deals with it.

@kajiglet, @dharhas, @ahines Any thoughts?

[2018-05-25 17:17] dharhas commented on #78
My vote is remove. What we have right now is hacky and requires manually creating .sbt files unless y'all have added anything more recently.

Later if we ever need something like that we build a param to smtk converter.

@amanda plesse chime in. The main use case for keeping it would be for ISEP based work if any part of that work is going to be using SMTK based GUIs

[2018-05-25 17:31] dharhas commented on #74
There used to be multiple places you can get the NAIP data.

Fd

On Thu, May 24, 2018, 1:46 PM Aaron Valoroso <notifications@github.com>
wrote:

[2018-05-25 18:22] kajiglet commented on #78
Its an artifact from the desktop DataBrowser so it'll be better to remove it now. It can be done correctly later, if there's a need.

[2018-05-29 15:42] sdc50 commented on #78
@AaronV77 go ahead and remove this stuff. Let me know if you have any questions about what is involved.

[2018-05-29 20:42] #69 closed

[2018-05-30 13:46] AaronV77 opened #79 "Conda Environment File"
Now that we got rid of all the different conda environment files, how are users gonna setup an environment for Python 2 for quest? Are they going to have to just change the python version in the yaml file?

[2018-05-30 14:10] AaronV77 commented on #49
The Cuahsi plugin does not allow you to download data from the NormService. There were conflicts within the metadata.py module. This will not happen from Girder, because Girder does not have a servicebase.

[2018-05-30 14:26] kcpevey opened #81 "Example notebook points to incorrect data location"
In the Create GSSHA Model notebook, Quest is looking for `quest/examples/NoteBooks/vicksburg_watershed/watershed_boundary.shp`
but that file actually sits here:
`quest/examples/vicksburg_watershed/watershed_boundary.shp`

`boundary_shapefile` is defined incorrectly in cell 3 which causes an error on the file read in cell 4.

[2018-05-30 16:03] sdc50 commented on #79
Yes. That is the plan. We need to add that to the documentation (as a deprecated but still supported installation). I see this as a step in phasing out Python 2.

[2018-05-30 20:07] AaronV77 opened #82 "Tool File Formats"
The tools that we currently have are not all defining `operates_on` parameters correctly, which causes some tools to show up on the `get_tools()` call when they should not be.

[2018-05-30 20:28] AaronV77 commented on #79
Okay I just wanted to make sure that was the direction we wanted to take, because now if someone that does not know conda will not be able to setup a python2 environment.

[2018-05-30 20:28] #79 closed

[2018-05-30 20:53] AaronV77 commented on #49
Alright so the Cuahsi-Hydroshare is the only plugin that will be able to accept non-geo data, but after working through this issue, more issues have been found. The issues are as follows:

- Found remnants of Stevedore vocabulary.
- Found remnants of `load_entities` that never got changed `load_plugins`.
- Filters that we currently have are not "filtering out" which specified file formats that the

[2018-05-30 20:53] #49 closed

[2018-06-01 16:13] AaronV77 commented on #78
This has all been removed and updated. Thanks.

[2018-06-01 16:13] #78 closed

[2018-07-06 14:55] dharhas opened #85 "Update Changelog."
Hasn't been updated since 2.2 release...

[2018-07-06 15:23] AaronV77 commented on #85
Is this something that should be done before I do the 2.5 build for conda? If so is this a manual process or is there a script? Thanks.

[2018-07-06 15:30] AaronV77 commented on #85
This was just a release to get something out there since it has been awhile since our last release but we still plan on doing a 3.0 release with docs, a couple more API changes, and a few other things. So, I'll put it down for a to-do for the 3.0 release.

[2018-07-13 17:59] AaronV77 opened #87 "Rasterio / Libgdal dependency Issue"
Hey everyone,

I've been running into a libgdal dependency issue and I traced it to the Rasterio package (Not entirely sure that it is this package that is giving the issue. And a better defined statement on what the issue is, is that libgdal is not conda-forge and is default. Here is the bug that I keep getting:

[code]

So how I've been able to fix this problem without having to rebuild the envi

[2018-07-13 17:59] #87 closed

[2018-07-30 15:33] sdc50 opened #89 "Rename `Filters` and `Features`"
`Filters` and `Features` should be given more intuitive names, such as `tools` and `sites` or `locations`.

[2018-07-30 15:38] sdc50 commented on #89
`sites` or `locations` makes sense for geospatial data. However, it doesn't really have any relevance for non-geo data. Our current data model is structured such that datasets belong to a feature and features belong to a collection. I would like to keep the data model consistent for all datasets (geo and non-geo), but I don't have a good idea for a more generic name for `sites` that would make sen

[2018-07-30 15:40] dharhas commented on #89
features came from the OGC SOS2 concept of features, so in that sense its a reasonable name. It just is awkward for folks who are not familiar with the standard.

[2018-07-31 14:21] AaronV77 opened #90 "Pandas 0.23.0 Versioning"
There was an issue with pandas 0.23.0 version and it involved some type of date to time function, was this ever resolved? I would like to remove the pinned version in our conda yaml file. Thanks.

[2018-07-31 14:23] AaronV77 opened #91 "Pony 0.7.3 Versioning"
I found a bug in dealing with Pony in our MAC and Windows testing. The copy feature and copy dataset test are failing. Pony has not update the Linux package yet and is the only reason why these test are not failing. I really can't tell what the error that is causing the issue, but will update this more when I find out. Thanks.

[2018-07-31 14:47] dharhas commented on #90
I think this warning comes from importing ulmo and will need to be fixed there. Should be an easy fix.

[2018-07-31 14:51] AaronV77 commented on #90
I faintly remember it being some where in the filters I thought? Thanks.

[2018-07-31 14:55] AaronV77 opened #92 "NameError: name 'ModuleNotFoundError' is not defined - Windows Tests"
There is an issue that I am posting here for right now, but it is from the Windows tests.

[code]

This issue is causing them to fail, so anyone has seen this before please let me know. Thanks.

[2018-07-31 15:00] dharhas commented on #90
I think it is a filter that is calling ulmo. On the first import of ulmo you get a depreciation warning for pandas that is probably changed to a full exception on 0.23.0

[2018-08-02 17:49] AaronV77 commented on #92
This magically went away for some reason? Who knows. Thanks

[2018-08-02 17:49] #92 closed

[2018-08-03 18:28] AaronV77 commented on #90
You are correct Dharhas, here is the error:

[code]

So, what are your thoughts on getting this fixed.

[2018-08-03 18:31] AaronV77 opened #93 "Quest Import Taking too long"
@sdc50 has brought up that the import speed of Quest is rather slow ( 6 seconds). This is a problem when being done in a website, and just overall. I don't have a solution, because I have not looked into this yet but if anyone has any suggestions, please post here. Thanks

[2018-08-03 18:49] AaronV77 opened #94 "Moving the Quest Directory"
@dharhas and I felt like it would be a good idea to use appdirs and move the Quest directory to the user's home directory. As of right now the Quest directory is buried within the system and is a pain to navigate to for new users. Let me know your thoughts. Thanks

[2018-08-03 18:51] AaronV77 commented on #74
After attending the IEMS conference, it seems like Google Earth Engine would be the best provider for getting this type of data. Thoughts? Thanks

[2018-08-03 21:05] sdc50 commented on #94
Quest already support setting that directory with an environmental variable so the user can put it where they want. However, it seems pretty common for applications to create a hidden directory in the user's home dir to store settings/configs/etc. I would support moving the default QUEST_DIR to `~/.quest`. I have reservations about not making it a hidden directory, (i.e. `~/quest`), but I could be

[2018-08-03 21:08] dharhas commented on #94
Usually hidden directories store config information. We are using the QUEST_DIR to store both the config info and the actual data folks download. The downloaded data is something folks usually want to get at easily.

[2018-08-03 21:14] dharhas commented on #93
looks like in python 3.7 you can easily analyze import times... might be worth tring to work out where its spending its time...

https://dev.to/methane/how-to-speed-up-python-application-startup-time-nkf

also this cool viz tool (again 3.7 only):

https://github.com/nschloe/tuna

[2018-08-03 21:16] dharhas commented on #90
Its probably just replacing pandas.tslib.Timestamp('2016-10-01') with pandas.Timestamp('2016-10-01').

If you do a pull request on ulmo, I can accept it.

[2018-08-06 14:58] AaronV77 commented on #94
Okay lets get the best of both worlds. The following:

[2018-08-06 15:02] AaronV77 commented on #93
I'll take a look into this and let you know. Thanks

[2018-08-06 15:09] AaronV77 commented on #89
So I looked up some words that I found interesting:
- property (ies)
- attribute (s)

Let me know. Thanks

[2018-08-06 18:53] sdc50 commented on #89
@AaronV77 I think the terms "property" and "attribute" are too generic and have a specific meaning in code that I think would cause confusion. I think I leaning toward using the term `locations` but then changing the database structure so that datasets have a direct link to collections and the `locations` are only populated for geo-specific datasets.

[2018-08-06 18:57] sdc50 commented on #93
I'm interested in seeing results from the tools that @dharhas mentioned. I suspect that most of the time is from configuring the database and setting up a default project in the `init` function (https://github.com/erdc/quest/blob/master/quest/__init__.py#L32-L40). I wonder if it would be possible to move this to the `api/__init__.py` so the database setup is delayed until you actually use it.

[2018-08-06 18:59] sdc50 commented on #94
@AaronV77 I like that suggestion. What would you think of having the cache dir also hidden (`~/quest/.cache`)?

[2018-08-06 19:03] sdc50 commented on #74
@AaronV77 I think GEE is definitely worth checking out. The presenter said that if you are downloading the data then you are doing it wrong, but I think for some use cases it might be worth it. Do you want to start experimenting with the API and see what it would take to download data?

[2018-08-07 13:19] AaronV77 commented on #89
@sdc50 I think `property` has a ton of meanings to it and not just code, but I think it fits better in our data model. I'm not really feeling the name 'locations' because it doesn't fit our non-geo data model real well. I would love to have a name that can represent both non-geo and geo data.

[2018-08-07 13:19] AaronV77 commented on #93
I'll look into this and see what I can come up with. Thanks

[2018-08-07 13:27] sdc50 commented on #89
@AaronV77 I agree with you that `property` has a ton of meanings. Datasets have many properties and that's why I don't think it makes sense to officially assign one property (i.e. its `feature`) the name `property`. Maybe I wasn't clear, but I was suggesting that the term `location` be used to describe a specific property only for the geographic datasets. The non-geo datasets wouldn't have a `loca

[2018-08-07 13:28] sdc50 commented on #74
@AaronV77 agreed.

[2018-08-07 13:32] AaronV77 commented on #89
@sdc50 my apologies, ya the way that I understood was that you wanted to try and change the name to 'locations'. I would agree with adding 'location' somewhere within the metadata, but I'm worried still about the word 'feature' having more than one meaning with the Quest code / documentation. Thanks

[2018-08-07 13:43] AaronV77 commented on #90
Alright @dharhas I added a PR to Ulmo for the Pandas issue, and now we can unpin the 0.22.0 version for Quest. Thanks

[2018-08-07 13:53] sdc50 commented on #89
Let me try to clarify. I am proposing that we change the name of `features` to `locations`. I am also proposing that we change the data model so that not all datasets have a `location`. This would have a few implications:
 * `get_features` would be called `get_locations` and would only search for geographic datasets.
 * `get_tags` would be expanded and used to search for non-geo datasets.
 * `coll

[2018-08-08 18:02] sdc50 opened #96 "Order of display_name and id is wrong in dataset and feature params"
The display_name and the dataset_id/feature_id is backwards and causing errors in the Quest app.

[2018-08-10 13:43] #96 closed

[2018-08-10 15:44] AaronV77 commented on #93
Hey guys I think I found out why our 'import quest' is possibly taking longer than it should. I found this issue because the tests were failing when I was trying to make a settings folder before the Quest directory. Now I didn't know where in Quest that it was building  the directory so I went looking.

My first look was in util, because that would be the place that we would build any directory, a

[2018-08-10 21:13] AaronV77 commented on #93
I think @sdc50  and I found the main culprit at what is making the import long and it is the way we are doing our API (which is perfectly fine). It just takes some time to import all the functions. @sdc50 also believes that what was taking his so long to import was something else other than Quest.

[2018-08-10 21:31] AaronV77 commented on #82
@sdc50 can this be closed?

[2018-08-10 21:32] AaronV77 commented on #50
@sdc50  can this be closed?

[2018-08-13 13:46] sdc50 commented on #93
We can get a slight increase in import time by delaying loading the providers and initializing the DB. Other than that the only way to really speed it up is to do a delayed import of the `api` module. It looks like there are some 3rd-party libraries to do delayed importing, but I'm not sure it's worth the extra baggage at this point.

[2018-08-13 13:48] sdc50 commented on #82
@AaronV77 No, this is still an issue that needs to be addressed.

[2018-08-13 13:50] sdc50 commented on #50
@AaronV77 this is half done. We've created the enums, but we aren't using them yet throughout the codebase. I think we need to leave this open until we fully port over.

[2018-08-13 14:33] dharhas commented on #90
So we can't actually close this until the PR is accepted in ulmo and a new version of ulmo is released. Then we would probably pin quest to the latest ulmo...

[2018-08-13 15:32] AaronV77 commented on #90
Ya I must've accidentally hit the close and comment rather than just the comment. My apologies.

[2018-08-15 14:41] sdc50 commented on #94
fixed by commit d903ed7d14ee1382097b33887f1f9346828a3e23

[2018-08-15 14:41] #94 closed

[2018-08-15 14:44] sdc50 commented on #85
fixed by commit d903ed7d14ee1382097b33887f1f9346828a3e23.

(Although we may need to clean up our history)

[2018-08-15 14:44] #85 closed

[2018-08-15 15:05] AaronV77 opened #99 "Quest 'default' project is not being created."

[2018-08-15 15:08] #99 closed

[2018-08-23 13:37] sdc50 commented on #89
Renaming `filters` to `tools`:

- [ ] `api/filters.py` -> `api/tools.py`
- [ ] `get_filters` -> `list_tools`
- [ ] `apply_filter` -> `run_tool`
- [ ] `get_filter_options` -> `get_tools_options`
- [ ] `quest_filter_plugins/` -> `quest_tool_plugins`
- [ ] `plugin_namespaces['filters']` -> `plugin_namespaces['tools']`, etc.
- [ ] `plugins/base/filter_base.py` -> `plugins/base/tool_base.py`
- [ ] `Fil

[2018-08-23 14:37] AaronV77 commented on #89
Can we do 'get_tool_options' rather than 'get_tools_options'? Thanks

[2018-08-23 14:40] AaronV77 commented on #89
Also can we not call 'get_filters' -> 'list_tools', and instead call it 'get_tools'? All the other methods follow this pattern, it would not make sense to change it now?

[2018-08-23 15:32] AaronV77 opened #102 "No tool plugin tests"
There is not one test for tool plugins. Should we at least be testing the basic functionality of the tools? Thanks

[2018-08-24 14:13] sdc50 opened #103 "Return value type should correspond to the the type of the uris argument passed in"
I propose that the return value of api functions should be different if the `uris` argument is a single string vs a list of strings. It seems very cumbersome to have to extract the result of an api function from a dict/list when a single value is passed in. E.g.:

[code]

It would seem more natural to me to have the following when a single `uri` is passed in:
[code]
The current behavior could be p

[2018-08-28 12:58] AaronV77 commented on #103
I would agree.

[2018-08-29 16:05] kcpevey opened #105 "WMTS math domain error"
I'm trying to run the WMTS_Example.ipynb (EarthSim/examples/user_guide/WMTS_Example.ipynb) and I'm getting a math error when I use this bbox (this is the output from that notebook, which means its likely mercator) and zoom level of 5:
[-9917980.978387076, 3532856.0285632936, -9917331.18008935, 3533255.798724667]

The error:
[code]

I didn't get this error with a different bbox a minute ago so I th

[2018-08-29 17:38] AaronV77 commented on #105
@kcpevey I've never tested the service plugin with that type of bounding box before. Those are really huge numbers and that might be the reason as to why it could be failing honestly.

The 'math' import was a @sdc50 preference.

[2018-08-29 17:58] sdc50 commented on #105
@kcpevey the method only accepts bounding boxes with lat/lon coordinates.

[2018-08-29 18:59] kcpevey commented on #105
My gv/hv was out of date and returning Mercator instead of Plate Carree. I think since these were extremely large numbers, this somehow caused the math operation to fail. At any rate, with my gv/hv properly updated, I'm not seeing this anymore.

[2018-08-29 18:59] #105 closed

[2018-08-29 20:14] sdc50 commented on #89
Renaming `features` to `catalog`:

- [ ] `api/features.py` -> `api/catalog.py`
- [ ] `get_features` -> `get_catalog`
- [ ] `add_features` -> `add_datasets`
- [ ] `get_features` -> `search_catalog` ??
- [ ] `new_feature` -> `new_catalog_entry`
- [ ] `ProviderBase.get_features` -> `ProviderBase.get_catalog`
- [ ] `ServiceBase.get_features` -> `ServiceBase.get_catalog`, etc
- [ ] tests
- [ ] docs

Th

[2018-08-29 20:16] sdc50 commented on #89
Here are some proposed changes from the database file (for reference):

[code]

[2018-08-31 14:16] AaronV77 commented on #89
@sdc50 you have get_features twice in the naming rework. Was there another method that you were thinking of or am I missing something. Thanks

[2018-08-31 21:14] sdc50 commented on #61
Closed by PR #104

[2018-08-31 21:14] #61 closed

[2018-08-31 21:15] sdc50 commented on #52
This issue is being address be issue #89.

[2018-08-31 21:15] #52 closed

[2018-08-31 21:18] sdc50 opened #106 "Cleanup Python 2 compatibility code"
As of PR #104 that add `whitebox_tools` as a dependency, Python 2 is no longer supported. We still need to go through the code and cleanup any code that was specifically handling Python 2 compatibility.

[2018-09-04 14:08] AaronV77 commented on #106
I went looking for this stuff this morning and here are a list of files that have Python 2 support within them:
- conftest.py
- misc.py
- conda_environment.yml

@sdc50  you cleaned up everything from the testing scripts, these three files should not be real hard of a clean up and change.

[2018-09-04 15:31] AaronV77 commented on #106
#102

[2018-09-05 13:56] sdc50 opened #108 "Reorder import blocks according to PEP8 guidelines"
All module's import blocks need to be reorganized to follow the [PEP8 guidelines](https://www.python.org/dev/peps/pep-0008/#imports). This will help with readability and maintainability.

[2018-09-07 18:06] sdc50 commented on #106
fixed by PR #107

[2018-09-07 18:06] #106 closed

[2018-09-11 21:17] AaronV77 opened #109 "Database Migration from Quest 2.6.1 -> 3.0"
There will be a database error that will say something along the lines that Dataset.feature has no such column. This is due to us changing the database in the upcoming refactor with Quest 3.0. The simple solution that you have to do is clear out your settings directory in your home directory. Thanks

[2018-09-14 21:41] sdc50 commented on #91
Still needs a new conda package to be built.

[2018-09-24 20:14] sdc50 commented on #91
Fixed in PR #111

[2018-09-24 20:14] #91 closed

[2018-09-24 20:15] #93 closed

[2018-09-24 20:15] sdc50 commented on #89
This is addressed and closed by PR #111

[2018-09-24 20:15] #89 closed

[2018-09-24 20:16] sdc50 commented on #102
With PR #111 example notebooks are now run as part of the tests, so that does cover some of the tools.

[2018-09-24 20:18] sdc50 commented on #59
I think PR #110 and #111 have sufficiently addressed this issue.

[2018-09-24 20:18] #59 closed

[2018-09-24 20:19] sdc50 opened #112 "Convert example scripts to notebooks"
There are several example scripts that need to be updated. It would make more sense to have them as notebooks, so they should also be converted.

[2018-10-01 20:41] sdc50 opened #114 "Lon/Lat geometries are not being converted when updating service catalogs"
When `search_catalog` is called on a service, if the service geometry is given as a latitude and longitude column then it is not being properly converted into a shapely geometry in the resulting GeoDataframe (all geometries are `None`).

[2018-10-03 14:44] sdc50 commented on #112
- [ ] Move `workflow_gssha` to broken.
- [ ] Convert `api_basics` to a notebook and move to `notebooks/`.
- [ ] Convert `search_features` to a notebook that shows how to search catalog and download data manually and then shows the `get_data` method.

[2018-10-04 13:29] AaronV77 commented on #60
Alright since we got everything working and Quest is a pure Python package I got the staged-recipe updated and being tested now. Here is the PR conda-forge/staged-recipes#6780. Thanks

[2018-10-04 16:08] AaronV77 opened #116 "Watershed_Delineation Notebook"
Does anybody else have problems running the Watershed_Delineation notebook in the examples directory for testing? There were issues with the notebook using the whitebox tools such as "wbt_fill_depressions" and "wbt_extract_streams_workflow" that had '-' instead of '_' and I can now run the notebook manually fine, but when I run the tests I keep getting the issue 'quest.tools' has no attribute 'wbt

[2018-10-09 18:55] AaronV77 commented on #60
This has been accomplished. Thanks

[2018-10-09 18:55] #60 closed

[2018-10-30 14:51] #114 closed

[2018-11-26 16:21] #109 closed

[2018-11-26 16:21] #108 closed

[2018-11-26 16:21] #112 closed

[2018-11-26 16:21] #50 closed

[2018-11-27 15:34] AaronV77 commented on #37
All the examples that Peter is talking about have been moved out of the Quest notebooks directory, or got updated. Peter thanks for the suggestion.

[2018-11-27 15:34] #37 closed

[2018-12-17 16:32] sdc50 opened #125 "Cleanup environment file"
There are a few dependencies in the `conda_environment.yml` file that can be removed.

This should be verified, but I think the following can be removed:
 - `peewee`
 - `jinja2`
 - `sortedcollections`
 - `werkzeug`

[2018-12-17 16:33] sdc50 opened #126 "Change the default location of the log file"
The log file currently uses `appdirs` to pick a default file location. We should change this to write the log in the ~/Quest directory.

[2019-01-28 20:38] sdc50 opened #130 "get_seamless_data raises an IndexError when only one dataset is returned"
The raster merge tool is raising the error. It seems like a single dataset is being passed in instead of a list. (or maybe it fails if the list is empty in which case we need to check that and provide a more useful error message).

[2019-01-28 20:40] sdc50 opened #131 "add `expand` argument to get_data and get_seamless_data"
add an `expand` argument to the workflow api calls to return metadata along with the datasets.

[2019-02-22 18:49] #125 closed

[2019-04-05 13:29] sdc50 opened #133 "Add a glossary to the docs"
Add a glossary section to the docs and link key works (e.g. collections, datasets, catalog entries, etc) throughout the docs.

[2019-04-12 20:56] #82 closed

[2019-04-12 20:56] #90 closed

[2019-04-12 20:56] #126 closed

[2019-04-12 20:56] #130 closed

[2019-04-12 20:56] #131 closed

[2019-04-12 20:56] #133 closed

[2019-05-30 18:18] gauthamrang opened #135 "Unable to find CollectionSelector()"
Running this portion from the Slow Start breakdown:

collection_selector = quest.util.CollectionSelector()
pn.Row(collection_selector)

produces this error:

AttributeError                            Traceback (most recent call last)
<ipython-input-8-00307da07282> in <module>
----> 1 collection_selector = quest.util.CollectionSelector()
      2 pn.Row(collection_selector)
AttributeError: module 'q

[2019-05-30 20:37] sdc50 commented on #135
The `CollectionSelector` is relatively new and is only available in Quest version 3.1.0 or greater. Currently the conda package for that version is only available on the erdc channel.

To get the latest version of quest from the erdc channel run the following command:

[code]

Please let me know if you are still getting this error after ensuring you have the latest version of Quest.

[2019-05-30 20:55] gauthamrang commented on #135
That did the trick! Thanks for the quick reply.

[2019-05-30 20:55] #135 closed, assigned to nobody